.review-section{
    background-color: rgb(241, 241, 241);
    display: flex;
    gap:30px;
    padding-inline: 100px;
    justify-content: space-around;
    max-width: 100%;
    padding-block:100px;
}

.left-content{
    width: 35%;
}
.left-content h3{
    font-family: "Questrial", sans-serif ;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    text-align: left;
}
.right-content{
    width: 37%;
    text-align: left;
}
.right-text p{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}
.testimonies{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}
.icon-star{
    padding-block: 10px;
    font-size: 12px;
}
.person-card {
    background-color: white;
    padding: 20px;
    width: 105%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.person-desc {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 24px;
    text-align: left;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.person-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.person-name {
    font-size: 16px;
    font-weight: bold;
}

/* subscribe section */
.subscribe{
    background-image: url(https://m0r5p0.yourbrand.studio/files/dynamicContent/sites/m0r5p0/images/en/webpage_69/m694epyz/element_1147/pexels-mart-production-7718634.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    max-width: 100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.subscribe-sec{
    padding-top: 100px;
    width: 50%;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-inline: 150px 50px;
    font-family: "Questrial", sans-serif ;
    font-weight: 400;
}